<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="info"/>

    <logger name="ru.otus.l15.db.DBServiceCachedImpl" level="info"/>
    <logger name="ru.otus.l15.db.DBServiceImpl" level="info"/>

    <logger name="ru.otus.l15.cache.CacheEngineImpl" level="warn"/>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>